* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #000;
}


/*LOGO*/
.logo{
text-align: left;
}


/*LOGO*/

/*CABECERA*/
header {
max-width: 100%;
	min-height: 100px;
	margin: 0 auto;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ededed+49,ffffff+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 49%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 49%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 49%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

#logo {
	width: 100px; 
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	animation: 1s entradalogo 1;

}


#logo img:hover {
	filter:opacity(0.5);

}
/*CABECERA*/


/*MENU-HORIZONTAL*/
#menu1 {
	max-width: 100%;
	min-height: 50px;
	background: #333;
	margin: 0 auto;
}

#menu1 ul {
	list-style: none;
	display: flex;
	justify-content: center;
}


#menu1 a {
	color: #fff;
	display: block;
	padding: 20px;
	text-decoration: none;
	background: #000;
	font-family: arial;
	font-size: 18px;
}

#menu1 a:hover {
	color: yellow;
}
	


#menu1 ul ul {
	display: none;
	position: absolute;


}
#menu1 ul li:hover ul {
	display: block;
}

#menu1 a{
  color: #FFF;
  background: #333;
  transition: color .3s ease-in-out .10s, background .75s;
}


#mundo p {
	text-align: center;
	color: #fff;
	font-size: 22px;
	font-family: arial;
}

#mundo h1 {
	text-align: center;
	color: #fff;
	font-size: 70px;
	margin-top: 100px;
	font-family: arial;
}

/*CONTENIDO*/

#morado {
	font-size: 60px;
	color: #D445D4;
	text-align: center;
	margin-top: 60px;
	font-family: arial;
}

#video {
	align-content: center;
	margin-top: 15px;
	margin-left: 400px;
}


/*CONTENIDO*/


/*PIE DE PAGINA*/
footer{
    width: 100%;
    background: #202020;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}


/*PIE DE PAGINA*/
